<div class="page-title">Flash Cards Categories</div>

<div class="category-grid">
  <mat-grid-list cols="4" rowHeight="200px">
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Dynamic Programming</mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Dynamic Programming</mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Dynamic Programming</mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Dynamic Programming</mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
